@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	justify-content: center;
	align-items: center;
	background-color: #111;
}

.hangman {
	display: flex;
	flex-direction: column;
	width: 90vmin;
	height: 60vmin;
	border: 2vmin solid white;
	background-color: white;
}



button {
	font-family: 'Montserrat', sans-serif;
}